body {
    background-color: black;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
}

.redNav {
    display: flex;
    justify-content: right;
    align-items: right;
    text-decoration: none;
    height: 125px;
    width: 125px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav {
    display: flex;
    align-items: flex-end;
    width: 125px;
    height: 125px;
    background-color: red;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.secondRowWebPage {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.fullContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    margin: 30px;
    border-radius: 25px;
    border: 3px solid hotpink;
    background-color: lightyellow;
    width:fit-content;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: solid 3px hotpink;
    border-radius: 25px;
    background-color: darkslategrey;
    color: yellowgreen;
    font-size: 14px
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.carouselTextNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.sketch {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.doit {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.smoker {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.power {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.placeholderImageRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainer {
    display: flex;
}

.label {
    display: flex;
    justify-content: left;
    align-items: left;
}

.imageDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 500px;
    width: 700px;
}

.titleBold {
    font-weight: bolder;
}

.titleBoldDisplay {
    font-weight: bolder;
    color: hotpink;
}

.titleBoldCollection {
    font-weight: bolder;
    color: hotpink;
}

.images {
    color: lime;
}

.collectionLabel {
    padding: 20px;
}

/* CAROUSEL */

.carouselPage {
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.items {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

/*index.js*/

button {
    border: none;
}


.container {
    display: flex;
    flex-direction: column;
}

.switch {
    display: flex;
}

.rowOne {
    display: flex;
}


.topLeftv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #7FC8F8;
}

.topLeftv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #3F88C5;
}

.topMiddlev1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.topMiddlev2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.topRightv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: lightblue;
}

.topRightv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #7FC8F8;
}

.rowOneColumnFour {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #7FC8F8;
}

.rowTwo {
    display: flex;
}

.middleLeftv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.middleLeftv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.middleMiddle {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: lightblue;
}

.middleRightv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.middleRightv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.rowTwoColumnFour {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.rowThree {
    display: flex;
}

.rowFour {
    display: flex;
}

.rowFourColumnOne {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.rowFourColumnTwo {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.bottomLeft {
    display: flex;
    flex-direction: column;
}

.bottomLeftv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: lightblue;
}

.bottomLeftv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #7FC8F8;
}

.bottomMiddlev1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: blue;
}

.bottomMiddlev2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.bottomRightv1 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #7FC8F8;
}

.bottomRightv2 {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #3F88C5;
}

.rowThreeColumnFour {
    display: flex;
    height: 125px;
    width: 125px;
    background-color: #084B83;
}

.doitPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.startPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.smokerPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.sketchPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.reservedPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.powerPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.exPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.birdPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.itPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.noPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}

.coloresPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}