body {
    background-color: black;
}

p {
    color: darkslategray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 75px;
    padding: 20px;
    margin: 20px;
    color: blue;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    border: solid 3px lightskyblue;
    background-color: blue;
}

.webPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 50px;
    margin: 30px;
    border-radius: 25px;
    border: 3px solid hotpink;
    background-color: lightyellow;
    width:fit-content;
}

.labelContainerDisplay {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: lime;
    width:fit-content;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    border: solid 3px hotpink;
    border-radius: 25px;
    background-color: darkslategrey;
    color: yellowgreen;
    font-size: 14px
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.collection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.carouselTextNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    color: lightskyblue;
}

.collectionPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collectionImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 550px;
    padding: 15px;
}

.sketch {
    display: flex;
    height: 600px;
    width: 500px;
    padding: 15px;
}

.doit {
    display: flex;
    height: 600px;
    width: 550px;
    padding: 15px;
}

.reserved {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 800px;
    padding: 15px;
}

.smoker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
    width: 500px;
    padding: 15px;
}

.power {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 550px;
    padding: 15px;
}
.placeholderImageRow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayContainer {
    display: flex;
}

.label {
    display: flex;
    justify-content: left;
    align-items: left;
}

.imageDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 500px;
    width: 700px;
}

.titleBold {
    font-weight: bolder;
}

.titleBoldDisplay {
    font-weight: bolder;
    color: hotpink;
}

.titleBoldCollection {
    font-weight: bolder;
    color: hotpink;
}

.images {
    color: lime;
}

.collectionLabel {
    padding: 20px;
}

/* CAROUSEL */

.carouselPage {
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.items {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100%;
}

.carouselItem {
    display: flex;
    justify-content: center;
    min-width: 100%;
    height: 80%;
    transition: 0.5s;
}


.leftArrow {
    border-style: none;
    left: 0;
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 75px;
    margin: 100px;
}

.rightArrow {
    border-style: none;
    right: 0;
    background-color: blue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 75px;
    margin: 100px;
}